#ul1  {
 display: flex;
    list-style-type: none;
}

html {
    background: #e6e9e9;
    background-image: linear-gradient(270deg, rgb(230, 233, 233) 0%, rgb(216, 221, 221) 100%);
    -webkit-font-smoothing: antialiased;
}

body {
    background:  #e6e6e6;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    color: #545454;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 99%;
    padding: 2em 2em 4em;
}

 h2, h3, h4, h5, h6 {
    color: #222;
    font-weight: 600;
    line-height: 1.3;
}

h2 {
    margin-top: 1.3em;
}

a {
    color: #0083e8;
}

b, strong {
    font-weight: 600;
}


img {
    animation: colorize 2s cubic-bezier(0, 0, .78, .36) 1;
    background: transparent;
    border: 10px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    display: block;
    margin: 1.3em auto;
    max-width:100%;
}

.container {
	max-width: 95%;
	margin: 0 auto;
    margin-top: "10px" ;
}

.main-content {
	padding: 20px;
}

.page-header {
	background-color: #305782;
	padding: 30px 20px;
	color: #e6e6e6;
}

.page-header-inner {
	padding: 0 20px;
}

//new starts here

.page-header h1 {
	margin: 0;
}

/* Nav Menu */
div.nav-menu {
	background-color: #e7ecf2;
	padding: 0 20px;
   
    
}

div.nav-menu ul {
	margin: 0;
	padding: 0;
     
}

div.nav-menu ul li {
	list-style: none;
	float: left;
}

div.nav-menu ul li a:link,
div.nav-menu ul li a:visited {
	display: block;
	font-size: 90%;
	padding: 10px 25px 10px 0;
	color: #305782;
	text-decoration: none;
	font-weight: bold;
}

.menu-trigger {
	display: none;
}

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

#wordAnimation {
opacity: 0 ;
-webkit-transition: opacity 1.0s linear 0s; 
    transition: opacity 1.0s linear 0s;
}

@media screen and (max-width: 480px) {
	
	.menu-trigger {
		display: block;
		color: #305782;
		background-color: #d5dce4;
		padding: 10px;
		text-align: right;
		font-size: 83%;
		cursor: pointer;
	}
	
	div.nav-menu {
		display: none;
	}
	
	div.nav-expanded {
		display: block;
	}
	
	div.nav-menu ul li {
		float: none;
		border-bottom: 2px solid #d5dce4;
	}
	
	div.nav-menu ul li:last-child {
		border-bottom: none;
	}
	
}

#div3 {
background-color: #737373;
    color: white;
}

// slider start

}
#container {
  width: 100% ;
  height: 720px;
    overflow: hidden ;
    background: #ff00ff;
    padding-left: 45px;
    
}
#slideshow {
   height: 100% ;
    width: 100% ;
    
    
}
#slideshow img {
   height: 100% ;
    width: 100% ;
    
    
}

//slider end



@keyframes colorize {
    0% {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }
    100% {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
    }
}